<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>jspbook</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 보안 적용 그룹 지정 -->
  <security-role>
  	<role-name>manager</role-name>
  </security-role>
  
  <security-constraint>
  	<!-- 검사 대상 지정 : 어떤 URL을 검사할 것인지 선택 -->
  	<web-resource-collection>
  		<web-resource-name>JSPBook</web-resource-name>
  		<url-pattern>/10_3</url-pattern>
  		<http-method>GET</http-method>
  	</web-resource-collection>
  	<!-- 권한 대상 지정 : 어떤 그룹에게 권한을 줄 것인지 선택 -->
  	<auth-constraint>
  		<description></description>
  		<role-name>manager</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <!-- 검사 방법 지정 -->
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  	<!-- login 페이지 입장 시 get으로 컨트롤러 입장(get 실행)
  		 login 성공 시 post 요청 무시하고 위에서 작성한 URL의 접근 권한 얻어서 이동(URL 이동)
  		 login 실패 시 post 요청 유지한 채로 컨트롤러 입장(post 실행) -->
  		<form-login-page>/10_2_login</form-login-page>
  		<form-error-page>/10_2_login</form-error-page>
  	</form-login-config>
  </login-config>
  
  <!-- chapter11 -->
  <!-- <error-page>  -->
	<!-- <error-code>404</error-code>
	<location>/chapter11/exam11-4_error.jsp</location> -->  
  	<!--  <error-code>500</error-code>
  	<location>/chapter11/exam11-4_error.jsp</location>-->
  	<!--<exception-type>java.lang.Exception</exception-type>
  	<location>/chapter11/exam11-5_error.jsp</location>
  </error-page> -->
  
  <filter>
  	<filter-name>exam12_1_Filter</filter-name>
  	<filter-class>chapter12.exam12_1_Filter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>exam12_1_Filter</filter-name>
  	<url-pattern>/12_1</url-pattern>	
  </filter-mapping>
</web-app>